<div class="row">
  <div class="col-xs-12">
    <img style="max-width: 250px;" [src]="recipe.imagepath" alt=" image" />
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipee
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Add Ingredients to the shopping List</a></li>
        <li><a href="#">Edit Recipee</a></li>
        <li><a href="#">Delete Recipee</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12"> Description : {{recipe.description}}</div>
</div>

<div class="row">
  <div class="col-xs-12">Ingredienets</div>
</div>